---
import Layout from "~/layouts/PageLayout.astro";
import Content from "~/components/widgets/Content.astro";
import Hero from "~/components/widgets/Hero.astro";
import Steps from "~/components/widgets/Steps.astro";
import Features from "~/components/widgets/Features.astro";
import Heart from "~/components/widgets/Heart.astro";
import Testimonials from "~/components/widgets/Testimonials.astro";
import GradientText from "~/components/ui/GradientText.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import no_cake_and_coffee from "~/assets/images/no_cake_and_coffee.webp";
import andrew_and_juhani from "~/assets/images/andrew_and_juhani.webp";

const metadata = {
  title: "About us",
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <Hero
    tagline={t("about.herotext.tagline")}
    image={{
      src: no_cake_and_coffee,
      alt: "Man says no the cake and coffee",
    }}
  >
    <Fragment slot="title">
      {t("about.herotext.title1")}
      <GradientText isHeading={true} text={t("about.herotext.title.span")} />
      {t("about.herotext.title2")}
    </Fragment>

    <Fragment slot="subtitle">
      {t("about.herotext.subtitle1")}
      <span class="font-semibold">{t("about.herotext.subtitle.span1")}</span>
      {t("about.herotext.subtitle2")}
      <span class="font-semibold">{t("about.herotext.subtitle.span2")}</span>
      {t("about.herotext.subtitle3")}
      <!-- <GradientText class="font-bold" text={t("about.herotext.subtitle.span3")} /> -->
    </Fragment>
  </Hero>

  <!-- Steps Widget ****************** -->

  <Steps
    title={t("about.steps.title")}
    image={{
      src: "https://media.istockphoto.com/id/1355850109/vector/abrahams-sacrifice-of-isaac-wood-engraving-published-1862.jpg?s=612x612&w=0&k=20&c=Q9eO4nRfCcbaMGAeqGPdeq9CYg4B55HaXQDByaKJYcM=",
      alt: "Image of Abraham sacrificing Isaac",
    }}
    items={[
      {
        title: t("about.steps.items1.title"),
        description: [
          {
            text: t("about.steps.items1.description1"),
          },
        ],
        icon: "tabler:number-1",
      },
      {
        title: t("about.steps.items2.title"),
        description: [
          {
            text: t("about.steps.items2.description1"),
          },
        ],
        icon: "tabler:number-2",
      },
      {
        title: t("about.steps.items3.title"),
        description: [
          {
            text: t("about.steps.items3.description1"),
          },
        ],
        icon: "tabler:number-3",
      },
      {
        title: t("about.steps.items4.title"),
        description: [
          {
            text: t("about.steps.items4.description1"),
          },
        ],
        icon: "tabler:number-4",
      },
      {
        title: t("about.steps.items5.title"),
        description: [
          {
            text: t("about.steps.items5.description1"),
          },
        ],
        icon: "tabler:number-5",
      },
      {
        title: t("about.steps.items6.title"),
        description: [
          {
            text: t("about.steps.items6.description1"),
          },
        ],
        icon: "tabler:number-6",
      },
      {
        title: t("about.steps.items7.title"),
        description: [
          {
            text: t("about.steps.items7.description1"),
          },
        ],
        icon: "tabler:number-7",
      },
    ]}
  />

  <!-- Heart section -->
  <Heart>
    <Fragment slot="title">
      {t("about.features2.title1")}
      <GradientText class="font-bold" text={t("about.features2.title.span")} />{t("about.features2.title2")}
      <GradientText class="font-bold" text={t("about.features2.title.span")} />{t("about.features2.title3")}
    </Fragment>
  </Heart>

  <!-- Content Widget **************** -->

  <Content
    classes={{
      headline: "lg:max-w-4xl xl:max-w-[896px]",
    }}
    isAfterContent
    whiteText={true}
    image={{
      src: andrew_and_juhani,
      alt: "Image of Andrew and Juhani",
    }}
  >
    <Fragment slot="title">
      <p class="dark:text-white text-black">
        {t("about.content.title1")}
      </p>
      <p
        class="text-black text-5xl md:text-6xl xl:text-[60px] xl:leading-[68px] font-signature dark:text-white font-bold leading-tighter tracking-tighter py-4 xl:py-[16px]"
      >
        {t("about.content.title2")}
      </p>
    </Fragment>
    <Fragment slot="subtitle">
      <p class="dark:text-white text-black">
        {t("about.content.subtitle")}
      </p>
    </Fragment>
    <Fragment slot="content">
      <h3 class="text-xl sm:text-2xl xl:text-[24px] xl:leading-[32px] tracking-tight mb-2 xl:mb-[8px]">
        {t("about.content.content")}
      </h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    columns={3}
    testimonials={[
      {
        testimonials: [t("about.testimonials.items1.t1")],
        name: t("about.testimonials.items1.name"),
      },
      {
        testimonials: [t("about.testimonials.items2.t1")],
        name: t("about.testimonials.items2.name"),
      },
      {
        testimonials: [t("about.testimonials.items3.t1")],
        name: t("about.testimonials.items3.name"),
      },
      {
        testimonials: [t("about.testimonials.items4.t1")],
        name: t("about.testimonials.items4.name"),
      },
      {
        testimonials: [t("about.testimonials.items5.t1")],
        name: t("about.testimonials.items5.name"),
      },
      {
        testimonials: [t("about.testimonials.items6.t1")],
        name: t("about.testimonials.items6.name"),
      },
    ]}
  />

  <!-- Features Widget *************** -->

  <Features>
    <Fragment slot="title">
      <span class="text-black dark:text-white/80">{t("about.features.title")}</span>
    </Fragment>
  </Features>
</Layout>
