---
import Layout from "~/layouts/PageLayout.astro";
import Content from "~/components/widgets/Content.astro";
import HeroText from "~/components/widgets/HeroText.astro";
import Steps from "~/components/widgets/Steps.astro";
import Features from "~/components/widgets/Features.astro";
import GradientText from "~/components/ui/GradientText.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";

const metadata = {
  title: "About us",
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline={t("about.herotext.tagline")}>
    <Fragment slot="title">
      {t("about.herotext.title1")}
      <GradientText isHeading={true} text={t("about.herotext.title.span")} />
      {t("about.herotext.title2")}
    </Fragment>

    <Fragment slot="subtitle">
      {t("about.herotext.subtitle1")}
      <span class="font-semibold">{t("about.herotext.subtitle.span1")}</span>
      {t("about.herotext.subtitle2")}
      <span class="font-semibold">{t("about.herotext.subtitle.span2")}</span>
      {t("about.herotext.subtitle3")}
      <!-- <GradientText class="font-bold" text={t("about.herotext.subtitle.span3")} /> -->
    </Fragment>
  </HeroText>

  <!-- Steps Widget ****************** -->

  <Steps
    title={t("about.steps.title")}
    image={{
      src: "https://media.istockphoto.com/id/1355850109/vector/abrahams-sacrifice-of-isaac-wood-engraving-published-1862.jpg?s=612x612&w=0&k=20&c=Q9eO4nRfCcbaMGAeqGPdeq9CYg4B55HaXQDByaKJYcM=",
      alt: "Image of Abraham sacrificing Isaac",
    }}
    items={[
      {
        title: t("about.steps.items1.title"),
        description: [
          {
            text: t("about.steps.items1.description1"),
          },
        ],
        icon: "tabler:number-1",
      },
      {
        title: t("about.steps.items2.title"),
        description: [
          {
            text: t("about.steps.items2.description1"),
          },
        ],
        icon: "tabler:number-2",
      },
      {
        title: t("about.steps.items3.title"),
        description: [
          {
            text: t("about.steps.items3.description1"),
          },
        ],
        icon: "tabler:number-3",
      },
      {
        title: t("about.steps.items4.title"),
        description: [
          {
            text: t("about.steps.items4.description1"),
          },
        ],
        icon: "tabler:number-4",
      },
      {
        title: t("about.steps.items5.title"),
        description: [
          {
            text: t("about.steps.items5.description1"),
          },
        ],
        icon: "tabler:number-5",
      },
      {
        title: t("about.steps.items6.title"),
        description: [
          {
            text: t("about.steps.items6.description1"),
          },
        ],
        icon: "tabler:number-6",
      },
      {
        title: t("about.steps.items7.title"),
        description: [
          {
            text: t("about.steps.items7.description1"),
          },
        ],
        icon: "tabler:number-7",
      },
    ]}
  />

  <!-- Features Widget *************** -->

  <Features>
    <Fragment slot="title">
      {t("about.features2.title1")}
      <GradientText class="font-bold" text={t("about.features2.title.span")} />{t("about.features2.title2")}
      <GradientText class="font-bold" text={t("about.features2.title.span")} />{t("about.features2.title3")}
    </Fragment>
  </Features>

  <!-- Text section -->

  <div class="w-full flex flex-col items-center px-10">
    <h1 class="font-bold text-9xl">{t("about.h1")}</h1>
    <div class="h-20"></div>
    <GradientText class="font-bold text-9xl flex" text={t("about.h2")} />
    <div class="my-40 h-[1px] bg-neutral-400 w-full"></div>
  </div>

  <!-- Content Widget **************** -->

  <Content
    classes={{
      headline: "lg:max-w-4 xl",
    }}
    isAfterContent
    whiteText={true}
    image={{
      src: "https://drive.google.com/uc?export=view&id=1wel6WDU54_pAyaqRB7YAaJZWkkou76Vs",
      alt: "Image of Andrew and Juhani",
    }}
  >
    <Fragment slot="title">
      {t("about.content.title1")}
      <p class="font-signature text-5xl md:text-8xl font-bold leading-tighter tracking-tighter py-4">
        Andrew Agbaje & Juhani Juusola
      </p>
    </Fragment>
    <Fragment slot="content">
      <h3 class="text-xl tracking-tight sm:text-2xl mb-2">
        {t("about.content.subtitle")}
      </h3>
    </Fragment>
  </Content>

  <!-- <section class="bg-secondary dark:bg-purple-900/40 not-prose">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
      <span class="font-bold text-white">
        <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom text-white" />
        {t("about.note.text1")}
      </span>
      <span class="text-white">
        {t("about.note.text2")}
      </span>
    </div>
  </section> -->
</Layout>
