---
import Layout from "~/layouts/PageLayout.astro";
import HeroText from "~/components/widgets/HeroText.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";

export interface Props {
  tagline?: string;
}

const metadata = {
  title: "About us",
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { tagline = "about.hero.tagline" } = Astro.props;
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <div class="flex-col w-full">
    <HeroText tagline={t(tagline as any)} title={t("about.heto.title")} />
    <div class="w-full h-[calc(100vh-375px)] lg:h-[calc(100vh-400px)] 2xl:h-[calc(100vh-500px)]"></div>
  </div>
</Layout>
