---
import CallToAction from "~/components/widgets/CallToAction.astro";
import Content from "~/components/widgets/Content.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Hero from "~/components/widgets/Hero.astro";
import Image from "~/components/common/Image.astro";
import Layout from "~/layouts/PageLayout.astro";
import Note from "~/components/widgets/Note.astro";
import GradientText from "~/components/ui/GradientText.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import Steps2 from "~/components/widgets/Steps2.astro";

const metadata = {
  title: "Events",
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero tagline={t("events.hero.tagline")}>
    <Fragment slot="title">
      {t("events.hero.title1")}
      <GradientText isHeading={true} text={t("events.hero.title.span1")} />
      {t("events.hero.title2")}
      <GradientText isHeading={true} text={t("events.hero.title.span2")} />
      {t("events.hero.title3")}
    </Fragment>
    <Fragment slot="subtitle">
      {t("events.hero.subtitle1")}
      <GradientText class="font-bold" text={t("events.hero.subtitle.span")} />{t("events.hero.subtitle2")}
    </Fragment>
  </Hero>

  <!-- Hero Widget *******************-->

  <Hero
    tagline={t("events.heroEvent.tagline")}
    image={{
      src:
        lang === "en"
          ? "https://lh3.googleusercontent.com/d/128L4LWy_G4SkUo124TFex5M5lHhcZ-Bl"
          : "https://lh3.googleusercontent.com/d/1oYImiMjiA2yo3AvoYsCvi9JTQw7pllBY",
      alt: "Jesus fest kuopio",
    }}
  >
    <Fragment slot="title">
      <!-- <pre>{`┬\n⏐\n⏐\n⏐\n⏐\n˅`}</pre> -->
      {t("events.heroEvent.title1")}
    </Fragment>
    <Fragment slot="subtitle">
      {t("events.heroEvent.subtitle1")}
    </Fragment>
  </Hero>

  <!-- Anchor to leave the scroll to leave Features2 title visible **************-->

  <div id="songs"></div>

  <!-- Features2 Widget **************-->
  <Features2
    hrefID="songs"
    class="container"
    title={t("events.features2.title")}
    subtitle={t("events.features2.subtitle")}
    columns={2}
    items={[
      {
        title: t("events.features2.items1.title"),
        description: t("events.features2.items1.description"),
        // icon: "tabler:book",
      },
      // {
      //   title: t("events.features2.items2.title"),
      //   description: t("events.features2.items2.description"),
      //   // icon: "tabler:pray",
      // },
      {
        title: t("events.features2.items3.title"),
        description: t("events.features2.items3.description"),
        // icon: "tabler:friends",
      },
    ]}
  />

  <!-- Features2 Widget **************-->

  <Features2
    subtitle={t("events.features3.subtitle")}
    columns={2}
    items={[
      {
        title: t("events.features3.items1.title"),
        description: t("events.features3.items1.description"),
        // icon: "tabler:book",
      },
      {
        title: t("events.features3.items2.title"),
        description: t("events.features3.items2.description"),
        // icon: "tabler:pray",
      },
    ]}
  />

  <!-- Text section -->

  <div class="w-full flex flex-col items-center px-10">
    <div class="my-40 h-[1px] bg-neutral-400 w-full"></div>
  </div>

  <!-- Note Widget ******************* -->

  <Note title={t("events.note.title")} subtitle={t("events.note.subtitle")} />

  <!-- Image Widget ******************* -->

  <div class="relative m-auto max-w-5xl pt-10 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
    <Image
      class="mx-auto rounded-md w-full"
      widths={[400, 768, 1024, 2040]}
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      width={1024}
      height={576}
      src={"https://lh3.googleusercontent.com/d/1CaRvoJNUGjD2g_y8YtfHYA5eT22gBSZ6"}
      alt={"Roman soldier crying a battle cry"}
    />
  </div>

  <!-- Features2 Widget ************** -->

  <Features2
    title={t("events.features.title")}
    subtitle={t("events.features.subtitle")}
    columns={3}
    items={[
      {
        title: t("events.features.items1.title"),
        description: t("events.features.items1.description"),
        description2: {
          text: t("events.features.items1.description2"),
          link: "https://uef.zoom.us/j/62720309361?pwd=MDBOdUc0RHFMVmt3bHZXR1FHL2swUT09",
        },
        icon: "tabler:book",
      },
      {
        title: t("events.features.items2.title"),
        description: t("events.features.items2.description"),
        description2: {
          text: t("events.features.items2.description2"),
          link: "https://uef.zoom.us/j/64440694917?pwd=eUxZRlUyM00vNkxseW1rcGxlZTc3UT09",
        },
        icon: "tabler:pray",
      },
      {
        title: t("events.features.items3.title"),
        description: t("events.features.items3.description"),
        description2: {
          text: t("events.features.items3.description2"),
        },
        icon: "tabler:friends",
      },
      {
        title: t("events.features.items4.title"),
        description: t("events.features.items4.description"),
        description2: {
          text: t("events.features.items4.description2"),
        },
        icon: "tabler:speakerphone",
      },
      {
        title: t("events.features.items5.title"),
        description: t("events.features.items5.description"),
        description2: {
          text: t("events.features.items5.description2"),
        },
        icon: "tabler:school",
      },
    ]}
  />

  <!-- tagline={t("events.hero2.tagline")} -->
  <Content tagline={t("events.hero2.tagline")} isReversed>
    <Fragment slot="content">
      <h3 class="text-2xl tracking-tightsm:text-xl mb-2">
        {t("events.hero2.title1")}
      </h3>
      <h3 class="text-2xl tracking-tightsm:text-xl mb-2">
        {t("events.hero2.subtitle1")}
      </h3>
      <h3 class="text-2xl tracking-tightsm:text-xl mb-2">
        {t("events.hero2.subtitle2")}
      </h3>
      <h3 class="text-2xl tracking-tightsm:text-xl mb-2">
        {t("events.hero2.subtitle3")}
      </h3>
    </Fragment>

    <Fragment slot="image">
      <div class="relative pb-[56.25%]">
        <iframe
          loading="lazy"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/g_y65xR5OYE?si=JwRc2jad8g1Swu3h"
          title="YouTube video player"
          frameborder="0"
          class="absolute top-0 left-0 w-full h-full"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
    </Fragment>
  </Content>

  <!-- Text section -->

  <div class="w-full flex flex-col items-center px-10">
    <div class="my-40 h-[1px] bg-neutral-400 w-full"></div>
  </div>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title={t("events.steps2.title")}
    subtitle={t("events.steps2.subtitle")}
    type2={true}
    items={[
      {
        title: t("events.steps2.items1.title"),
        description: t("events.steps2.items1.description"),
        icon: "tabler:mail",
      },
      {
        title: t("events.steps2.items2.title"),
        description: t("events.steps2.items2.description"),
        icon: "tabler:headset",
      },
      {
        title: t("events.steps2.items3.title"),
        description: t("events.steps2.items3.description"),
        icon: "tabler:brand-youtube",
        link: true,
      },
    ]}
  />

  <!-- Text section -->

  <div class="w-full flex flex-col items-center px-10">
    <div class="my-40 h-[1px] bg-neutral-400 w-full"></div>
  </div>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: "primary",
        text: t("events.callToAction.actionText"),
        href: "https://www.youtube.com/@flamethefreeze2613/videos",
        icon: "tabler:brand-youtube",
      },
    ]}
    title={t("events.callToAction.title")}
  >
    <Fragment slot="subtitle">
      {t("events.callToAction.subtitle1")}
      <GradientText class="font-bold" text={t("events.callToAction.subtitle.span1")} />{
        t("events.callToAction.subtitle2")
      }
      <GradientText class="font-bold" text={t("events.callToAction.subtitle.span2")} />
      {t("events.callToAction.subtitle3")}
    </Fragment>
  </CallToAction>
</Layout>

<style lang="css">
  .anchor-link {
    visibility: hidden;
  }

  a {
    color: hsl(var(--colour-text-hue) var(--colour-text-saturation) var(--colour-text-luminance));
    text-decoration: none;
  }

  [astro-icon] {
    display: inline;
    width: var(--font-size-5);
    vertical-align: middle;
  }

  .container:focus .anchor-link,
  .container:hover .anchor-link {
    visibility: visible;
  }
</style>
