---
import CallToAction from "~/components/widgets/CallToAction.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Hero from "~/components/widgets/Hero.astro";
import Layout from "~/layouts/PageLayout.astro";
import GradientText from "~/components/ui/GradientText.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import Steps2 from "~/components/widgets/Steps2.astro";

const metadata = {
  title: "Events",
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
// actions={[{ variant: "primary", target: "_self", text: t("events.hero.callToAction"), href: "/" }]}
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline={t("events.hero.tagline")}
    image={{
      // src: "https://images.angelstudios.com/image/upload/f_webp,c_fill,g_faces/v1659986547/the_chosen/blog/names-of-the-12-disciples.webp",
      src: "https://lh3.googleusercontent.com/d/1-ZNNqoI0H_1YLWXgDo0bDjY6sclgNAGp",
      alt: "A prayer warrior",
    }}
  >
    <Fragment slot="title">
      {t("events.hero.title1")}
      <GradientText isHeading={true} text={t("events.hero.title.span1")} />
      {t("events.hero.title2")}
      <GradientText isHeading={true} text={t("events.hero.title.span2")} />
      {t("events.hero.title3")}
    </Fragment>
    <Fragment slot="subtitle">
      {t("events.hero.subtitle1")}
      <GradientText class="font-bold" text={t("events.hero.subtitle.span")} />{t("events.hero.title2")}{
        t("events.hero.subtitle2")
      }
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    anchorId="features2_title"
    title={t("events.features.title")}
    subtitle={t("events.features.subtitle")}
    columns={3}
    items={[
      {
        title: t("events.features.items1.title"),
        description: t("events.features.items1.description"),
        description2: {
          text: t("events.features.items1.description2"),
          link: "https://uef.zoom.us/j/62720309361?pwd=MDBOdUc0RHFMVmt3bHZXR1FHL2swUT09",
        },
        icon: "tabler:book",
      },
      {
        title: t("events.features.items2.title"),
        description: t("events.features.items2.description"),
        description2: {
          text: t("events.features.items2.description2"),
          link: "https://uef.zoom.us/j/64440694917?pwd=eUxZRlUyM00vNkxseW1rcGxlZTc3UT09",
        },
        icon: "tabler:pray",
      },
      {
        title: t("events.features.items3.title"),
        description: t("events.features.items3.description"),
        description2: {
          text: t("events.features.items3.description2"),
        },
        icon: "tabler:friends",
      },
      {
        title: t("events.features.items4.title"),
        description: t("events.features.items4.description"),
        description2: {
          text: t("events.features.items3.description2"),
        },
        icon: "tabler:speakerphone",
      },
      {
        title: t("events.features.items5.title"),
        description: t("events.features.items5.description"),
        description2: {
          text: t("events.features.items5.description2"),
        },
        icon: "tabler:school",
      },
    ]}
  />

  <!-- Text section -->

  <div class="w-full flex flex-col items-center px-10">
    <div class="my-40 h-[1px] bg-neutral-400 w-full"></div>
  </div>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title={t("events.steps2.title")}
    subtitle={t("events.steps2.subtitle")}
    type2={true}
    items={[
      {
        title: t("events.steps2.items1.title"),
        description: t("events.steps2.items1.description"),
        icon: "tabler:mail",
      },
      {
        title: t("events.steps2.items2.title"),
        description: t("events.steps2.items2.description"),
        icon: "tabler:headset",
      },
      {
        title: t("events.steps2.items3.title"),
        description: t("events.steps2.items3.description"),
        icon: "tabler:brand-youtube",
        link: true,
      },
    ]}
  />

  <!-- Text section -->

  <div class="w-full flex flex-col items-center px-10">
    <div class="my-40 h-[1px] bg-neutral-400 w-full"></div>
  </div>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: "primary",
        text: "Start exploring",
        href: "https://www.youtube.com/@flamethefreeze2613/videos",
        icon: "tabler:brand-youtube",
      },
    ]}
    title={t("events.callToAction.title")}
  >
    <Fragment slot="subtitle">
      {t("events.callToAction.subtitle1")}
      <GradientText class="font-bold" text={t("events.callToAction.subtitle.span1")} />{
        t("events.callToAction.subtitle2")
      }
      <GradientText class="font-bold" text={t("events.callToAction.subtitle.span2")} />
      {t("events.callToAction.subtitle3")}
    </Fragment>
  </CallToAction>
</Layout>
