---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Image from "~/components/common/Image.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features3 from "~/components/widgets/Features3.astro";
import Content from "~/components/widgets/Content.astro";
import GradientText from "~/components/ui/GradientText.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";

import { YouTube } from "astro-embed";

const metadata = {
  title: "Flame the Freeze — Where the Word of God and experience meets",
  ignoreTitleTemplate: true,
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <!-- <Hero tagline="Flame the Freeze — Where the Word of God and experience meets"> -->
    <Fragment slot="title">
      {t("index.hero1.title1")}
      <br />
      <GradientText text={t("index.hero1.title.span")} />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">{t("index.hero1.subtitle.span1")}</span>
      {t("index.hero1.subtitle1")}
      <GradientText class="font-bold" text={t("index.hero1.subtitle.span2")} />{t("index.hero1.subtitle2")}
    </Fragment>

    <Fragment slot="subtitle2">
      {t("index.hero0.title1")}
      <GradientText class="font-bold text-lg" text={t("index.hero0.title.span1")} />
      {t("index.hero0.title2")}
      <GradientText class="font-bold text-lg" text={t("index.hero0.title.span2")} />
      {t("index.hero0.title3")}
      <GradientText class="font-bold text-lg" text={t("index.hero0.title.span3")} />
      {t("index.hero0.title4")}
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title={t("index.note.text1")} subtitle={t("index.note.text2")} />

  <!-- Image Widget ******************* -->

  <div
    class="relative m-auto max-w-5xl pt-10 intersect-once intersect-quarter motion-safe:opacity-0 motion-safe:intersect:animate-fade"
  >
    <Image
      class="mx-auto rounded-md w-full"
      widths={[400, 768, 1024, 2040]}
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      width={1024}
      height={576}
      src={"https://lh3.googleusercontent.com/d/1Wwytw0RsxpuU_dOncVOrdv03C1P0OZoA"}
      alt={"Frozen city is melting by fire"}
    />
  </div>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline={t("index.features1.tagline")}
    title={t("index.features1.title")}
    subtitle={t("index.features1.subtitle")}
    items={[
      {
        title: t("index.features1.items1.title"),
        description: t("index.features1.items1.description"),
        icon: "tabler:alarm",
      },
      {
        title: t("index.features1.items2.title"),
        description: t("index.features1.items2.description"),
        icon: "tabler:snowflake-off",
      },
      {
        title: t("index.features1.items3.title"),
        description: t("index.features1.items3.description"),
        icon: "tabler:flame",
      },
      {
        title: t("index.features1.items4.title"),
        description: t("index.features1.items4.description"),
        icon: "tabler:rocket",
      },
      {
        title: t("index.features1.items5.title"),
        description: t("index.features1.items5.description"),
        icon: "tabler:barrier-block-off",
      },
      {
        title: t("index.features1.items6.title"),
        description: t("index.features1.items6.description"),
        icon: "tabler:users-group",
      },
      {
        title: t("index.features1.items7.title"),
        description: t("index.features1.items7.description"),
        icon: "tabler:heart",
      },
    ]}
  />

  <!-- Features3 Widget ******************* -->

  <Features3>
    <Fragment slot="subtitle">
      {t("index.features3-1.subtitle1")}
      <span class="underline">
        {t("index.features3-1.subtitle2")}
      </span>
      <br />
      <br />
      {t("index.features3-1.subtitle3")}
    </Fragment>
  </Features3>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline={t("index.content1.tagline")}
    title={t("index.content1.title")}
    whiteText={true}
    items={[
      { title: t("index.content1.items1") },
      { title: t("index.content1.items2") },
      { title: t("index.content1.items3") },
      { title: t("index.content1.items4") },
      { title: t("index.content1.items5") },
      { title: t("index.content1.items6") },
      { title: t("index.content1.items7") },
    ]}
    image={{
      src: "https://lh3.googleusercontent.com/d/1nmqg9neG9GgUOVuYGkdovGhkGqR3L-4m",
      alt: "Image of Amazon forest",
    }}
  >
    <Fragment slot="content">
      <h3 class="text-xl font-semibold tracking-tight text-white sm:text-2xl mb-2">
        {t("index.content1.content")}
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-neutral-800 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    defaultIcon="tabler:x"
    isAfterContent
    whiteText={true}
    classes={{
      iconClass: "bg-red-600 dark:red-700",
    }}
    items={[
      { title: t("index.content2.items1") },
      { title: t("index.content2.items2") },
      { title: t("index.content2.items3") },
      { title: t("index.content2.items4") },
      { title: t("index.content2.items5") },
      { title: t("index.content2.items6") },
      { title: t("index.content2.items7") },
    ]}
    image={{
      src: "https://lh3.googleusercontent.com/d/1QSmNRMAY96l0m-z5K1Xv8eRjEYInh6r0",
      alt: "Image of California wildfire",
    }}
  >
    <Fragment slot="content">
      <h3 class="text-xl font-semibold tracking-tight text-white sm:text-2xl mb-2">
        {t("index.content2.content")}
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-neutral-800 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features3 Widget ******************* -->

  <Features3 subtitle={t("index.features3-2.subtitle")} />

  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      {t("index.hero2.title")}
      <GradientText text={t("index.hero2.title.span")} />
    </Fragment>

    <Fragment slot="subtitle">
      {t("index.hero2.subtitle1")}
      <GradientText class="font-bold" text={t("index.hero2.subtitle.span")} />
      {t("index.hero2.subtitle2")}
      <br />
      <br />
      {t("index.hero2.subtitle3")}
    </Fragment>
  </Hero>

  <!-- Hero Widget ******************* -->

  <Hero subtitle={t("index.hero3.subtitle")}>
    <Fragment slot="title">
      {t("index.hero3.title1")}
      <GradientText text={t("index.hero3.title.span")} />
      {t("index.hero3.title2")}
    </Fragment>
  </Hero>

  <!-- Separator section -->

  <div class="w-full flex flex-col items-center px-10">
    <div class="my-40 h-[1px] bg-neutral-400 w-full"></div>
  </div>

  <!-- Content Widget **************** -->

  <Content tagline={t("index.content3.tagline")} isReversed>
    <Fragment slot="title">
      {t("index.content3.title1")}<br />
      <GradientText class="italic pr-3" text={t("index.content3.title.span1")} /><br />
      {t("index.content3.title2")}
      <!-- <GradientText text={t("index.content3.title.span2")} /> -->
    </Fragment>

    <Fragment slot="content">
      <h3 class="text-xl tracking-tight sm:text-2xl mb-2">
        <span class="font-semibold text-black dark:text-white">{t("index.content3.subtitle")}</span>
        <p class="text-lg sm:text-xl">
          <GradientText class="font-semibold" style2>
            "{t("index.content3.subtitle1")}"
          </GradientText>
          <br />
          <br />
          <span class="text-black dark:text-white">
            {t("index.content3.subtitle2")}
          </span>
        </p>
      </h3>
    </Fragment>

    <Fragment slot="image">
      <div class="relative">
        <YouTube id="Z1J0yjSdiVY" title="Dr. Osaze's testimony" />
      </div>
    </Fragment>
  </Content>

  <Content>
    <Fragment slot="content">
      <h3 class="text-xl tracking-tight sm:text-2xl mb-2">
        <span class="font-semibold text-black dark:text-white">{t("index.content4.subtitle")}</span>
        <p class="text-lg sm:text-xl">
          <GradientText class="font-semibold" style2>
            "{t("index.content4.subtitle1")}"
          </GradientText>
          <br />
          <br />
          <span class="text-black dark:text-white">
            {t("index.content4.subtitle2")}
          </span>
        </p>
      </h3>
    </Fragment>

    <Fragment slot="image">
      <div class="relative">
        <YouTube id="g_y65xR5OYE" title="Excerpt from Jesus Fest Kuopio" />
      </div>
    </Fragment>
  </Content>
</Layout>
