---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Flame the Freeze — Where the Word of God and experience meets',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- image={{ src: '~/assets/images/default.jpg', alt: 'Flame the Freeze Image' }} -->
  <Hero>
    <Fragment slot="title">
      Flame the Freeze is a website focused on
      <span class="text-accent highlight"> God's Word working today</span>
      <br /> in real-life
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">The kingdom of God</span>
       is not in enticing words of man's wisdom but in demonstrated power.
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
       Therefore the power of God working in and through the lives of normal people is a testimony that God
      <span class="text-accent highlight font-semibold">still works</span>
       in the midst of His people in this 21st century.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Content"
    title="What we are doing by the Spirit of God"
    subtitle=" For thus saith the Lord of hosts; Yet once, it is a little while, and I will shake the heavens, and the earth, and the sea, and the dry land; and I will shake all nations, and the desire of all nations shall come: and I will fill this house with glory, saith the Lord of hosts. Haggai 2:6,7 KJV"
    items={[
      {
        title: 'Wake up the body of Christ',
        description:
          ' It is time the bride of Christ woke up from slumber and spiritual death because our Lord Jesus Christ is coming for a glorious church.',
        icon: 'tabler:alarm',
      },
      {
        title: 'Shake out all frost',
        description: 'God is going to shake the church out of every frost and freeze.',
        icon: 'tabler:snowflake-off',
      },
      {
        title: 'Kindle it to full flame🔥',
        description: "He wants to 'flame the freeze'.",
        icon: 'tabler:flame',
      },
      {
        title: 'Revive the manifestations of the Spirit',
        description: 'We need to see a revival of the apostolic signs and wonders in the entire body of Christ.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Remove barriers and borders',
        description:
          'Genuine christlikeness and christianity is not about denominational, cultural, racial, geographical, gender, age, or religious superiority.',
        icon: 'tabler:barrier-block-off',
      },
      {
        title: 'See a massive harvest of souls and a genuine revival',
        description:
          'It is time we see a mass salvation of souls, restoration of backsliders, and general revival in the body of Christ.',
        icon: 'tabler:users-group',
      },
    ]}
  />

  <!-- Features3 Widget ******************* -->

  <Features3
    subtitle="There is one body, and one Spirit, even as ye are called in one hope of your calling; One Lord, one faith, one baptism, One God and Father of all, who is above all, and through all, and in you all. Ephesians 4:4-6"
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="God's kingdom"
    title="The church of God must be God's kingdom in earth"
    items={[
      { title: 'Renewed' },
      { title: 'Revived' },
      { title: 'Refreshed' },
      { title: 'Restored' },
      { title: 'Revolutioanized' },
      { title: 'Reinvigorated' },
      { title: 'Reinstated' },
    ]}
    image={{
      src: 'https://m.media-amazon.com/images/I/A1BhKDXUJBL.jpg',
      alt: 'Revival Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-xl font-semibold tracking-tight dark:text-white sm:text-2xl mb-2">
        A spiritual embassy and surgical theatre where human lives are completely
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    defaultIcon="tabler:x"
    isAfterContent
    classes={{
      iconClass: 'bg-red-600 dark:red-700',
    }}
    items={[
      { title: 'Wars' },
      { title: 'Diseases' },
      { title: 'Famine' },
      { title: 'Despair' },
      { title: 'Addictions' },
      { title: 'Opression' },
      { title: 'Gross darkness' },
    ]}
    image={{
      src: 'https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1500w,f_auto,q_auto:best/newscms/2021_25/3411506/200911-wildfire-california-worst-widlfire-year-se-236p.jpg',
      alt: 'Hungry people Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-xl font-semibold tracking-tight dark:text-white sm:text-2xl mb-2">
        The glory of God in the body of Christ groans for manifestation in midst of
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features3 Widget ******************* -->

  <Features3
    title="Arise, shine; for thy light is come, and the glory of the Lord is risen upon thee. For, behold, the darkness shall cover the earth, and gross darkness the people: but the Lord shall arise upon thee, and his glory shall be seen upon thee. And the Gentiles shall come to thy light, and kings to the brightness of thy rising. Isaiah 60:1-3 KJV"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      God's people must be committed to lifting the name of <br />
      <span class="text-accent highlight"> our Lord Jesus Christ</span>
    </Fragment>

    <Fragment slot="subtitle">
      And to see <span class="font-semibold">His kingdom</span> manifest in street corners, institutions, church
      denominations, villages, towns, cities, countries, and continents.
    </Fragment>
  </Hero>

  <!-- Hero Widget ******************* -->

  <Hero
    subtitle="And when they found them not, they drew Jason and certain brethren unto the rulers of the city, crying, These that have turned the world upside down are come hither also. Acts 17:6 KJV"
  >
    <Fragment slot="title">
      Do <span class="text-accent highlight"> you</span>
       want to join this chariot of fire that will change the globe?
    </Fragment>
  </Hero>
</Layout>
