---
import Layout from "~/layouts/PageLayout.astro";
import HeroText from "~/components/widgets/HeroText.astro";
import Features3 from "~/components/widgets/Features3.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: "About us",
};
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline={"WORD"} title={t("about.heto.title")} />
  <Features3 />
  <Features3 />
  <a href={getPermalink("test")} >test</a>
</Layout>
