---
import Features2 from "~/components/widgets/Features2.astro";
import Features3 from "~/components/widgets/Features3.astro";
import Hero from "~/components/widgets/Hero.astro";
import Stats from "~/components/widgets/Stats.astro";
import Steps2 from "~/components/widgets/Steps2.astro";
import Layout from "~/layouts/PageLayout.astro";

const metadata = {
  title: "The Word",
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="The Word"
    image={{
      src: "https://images.angelstudios.com/image/upload/f_webp,c_fill,g_faces/v1659986547/the_chosen/blog/names-of-the-12-disciples.webp",
      alt: "Caos Image",
    }}
    imageText="Jesus and his disciples (A scene from the series 'The Chosen')"
  >
    <Fragment slot="title">
      The twelve apostles were changed by <br />
      <span class="text-accent highlight">our Lord Jesus Christ</span><br />
      {"\nin three and half years."}
    </Fragment>

    <Fragment slot="subtitle">
      They were no scholars, just normal men with petty jobs. But Jesus chose these men for the most critical task of
      the church – to lay spiritual foundation in the habitations of cruelty, wickedness, hate, oppression, and
      persecution. What made these unknown men to succeed? How did they survive the brutal opposition?
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: "Men", amount: "12" },
      { title: "Years", amount: "3.5" },
      { title: "The word", amount: "+" },
      { title: "Apostles of the lamb", amount: "= 12" },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    subtitle="Now when they saw the boldness of Peter and John, and perceived that they were unlearned and ignorant men, they marvelled; and they took knowledge of them, that they had been with Jesus. Acts 4:13 KJV"
    subtitle2="It was not about their skills and talents, connections, resources, ethnicity or race. But their commitment to stay and to continue to stay with Jesus who is the true Vine. You might be uneducated, disadvantaged, have some disability, little skills, talents, relationships and connections. But none of these is integral to your glorious manifestation.  The key question is: Have you been with Jesus?"
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    type2={true}
    title="We want your experience to change"
    subtitle="So that when you function in your family, meet with friends, go to work, do daily chores, people speak that you have been with Jesus. So that your life spreads the heavenly fragrance, knowledge, presence, and the person of our Lord Jesus Christ. So that His presence is so overwhelming on you such that when people meet you, they actually meet Jesus. So that His life changing power and love overtakes your weaknesses and carnal limitations and people can see God through the veil of your flesh"
    items={[
      {
        title: "Aspostles stayed with the Holy Spirit",
        description: "But we will give ourselves continually to prayer, and to the ministry of the word. Acts 6:4 KJV",
        icon: "tabler:pray",
      },
      {
        title: "The results made some angry",
        description:
          "And when they found them not, they drew Jason and certain brethren unto the rulers of the city, crying, These that have turned the world upside down are come hither also. Acts 17:6 KJV",
        icon: "tabler:mood-angry",
      },
      {
        title: "And others said they were gods",
        description:
          "And the crowds, when they saw what Paul had done, lifted up their voices, shouting in the Lycaonian language, The gods have come down to us in human form! Acts 17:11 AMPC",
        icon: "tabler:message-circle-star",
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <!-- callToAction={{
      text: 'See more',
      href: '/',
    }} -->
  <Steps2
    type2={true}
    title="We have a question for you"
    subtitle="Would you like to join us at His spiritual dining table, where He reveals himself to His church? It is written in Habakkuk 2:14 that for the earth shall be filled with the knowledge of the glory of the Lord, as the waters cover the sea. It is time we met Jesus!"
    isReversed={true}
    items={[
      {
        title: "It is time to wake up",
        description: "Brethren, it is high time we truly knew Jesus. Personally and intimately",
        icon: "tabler:eye-exclamation",
      },
      {
        title: "To carry His presence",
        description: "Submerge ourselves in His presence, righteousness, love, joy and peace",
        icon: "tabler:brand-tailwind",
      },
      {
        title: "To destroy all strongholds",
        description: "Strongholds of the devil in our and others' lives must be completely destroyed and vanquished.",
        icon: "tabler:swords",
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our platforms"
    tagline="Find us"
    columns={2}
    items={[
      {
        title: "FLAME the FREEZE - Prayer meeting",
        icon: "tabler:brand-zoom",
        description: "Every other Saturday starting at 18:00 GMT+2. Zoom ID: 644 4069 4917, Passcode: 467939",
      },
      {
        title: "FLAME the FREEZE -  YouTube",
        icon: "tabler:brand-youtube",
        description: "https://www.youtube.com/@flamethefreeze2613",
        link: true,
      },
    ]}
  />
</Layout>
