---
import { SITE } from "~/utils/config";
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold whitespace-nowrap bg-gradient-to-r from-orange-600 to-yellow-500 text-transparent bg-clip-text"
>
  {SITE?.name}
</span>
