---
import type { Widget } from "~/types";
import type { HTMLTag } from "astro/types";
import { twMerge } from "tailwind-merge";

export interface Props extends Widget {
  containerClass?: string;
  ["as"]?: HTMLTag;
  animated?: boolean;
}

const { id, containerClass = "", as = "section", animated = true } = Astro.props;

const WrapperTag = as;
---

<WrapperTag class="relative not-prose scroll-mt-[72px]" {...id ? { id } : {}}>
  <div
    class:list={[
      twMerge(
        "relative mx-auto max-w-7xl xl:max-w-[1280px] px-4 md:px-6 xl:px-[24px] py-12 md:py-16 lg:py-20 xl:py-[80px] text-default",
        animated
          ? "intersect-once intersect-tenth sm:intersect-quarter intercept-no-queue motion-safe:opacity-0 motion-safe:intersect:animate-fade"
          : "",
        containerClass
      ),
      { dark: true },
    ]}
  >
    <slot />
  </div>
</WrapperTag>
